.footer {
  height: 210px;
  background: var(--gradient-white);

  &-container {
    margin: 0;
    padding: 0 100px;
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-text {
    display: flex;
    align-items: center;
  }

  &-title {
    margin-right: 50px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--background-white);
  }

  &-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: var(--background-white);
    @include mr(50px);

    &:hover {
      color: var(--background-white);
    }
  }

  &-icon {
    width: 40px;
    height: 40px;
    @include mr(25px);
  }
}
