.form {
  padding: 110px 0;
  position: relative;

  &__purple,
  &__yellow {
    position: absolute;
    z-index: 0;
  }

  &__purple {
    top: 100px;
    left: -150px;
    width: 500px;
    height: 500px;
    background: var(--purple);
    filter: blur(173.5px);
  }

  &__yellow {
    bottom: -150px;
    right: 150px;
    width: 435px;
    height: 420px;
    background: var(--yellow);
    filter: blur(116px);
  }

  &__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: 700px;
    padding: 40px 145px 60px;
    box-shadow: 0px 4px 83px rgba(0, 0, 0, 0.15);
    border-radius: 70px;
    background: var(--background-white);
  }

  label {
    padding-left: 20px;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
  }

  input {
    margin-top: 10px;
    @include mb(25px);
    width: 100%;
    padding: 20px;
    height: 65px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid var(--black);
    border-radius: 30px;

    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    color: var(--black);
  }

  &__button {
    display: block;
    margin: 30px auto 0;
  }
}

@include tablet {
  .form {
    padding: 130px 0 80px;

    &__purple {
      top: 100px;
      left: -90px;
      width: 200px;
      height: 200px;
      filter: blur(80px);
    }

    &__yellow {
      bottom: -50px;
      right: -100px;
      width: 200px;
      height: 200px;
      filter: blur(50px);
    }
  }
}

@include small-tablet {
  .form {
    form {
      width: 90%;
      padding: 0;
      box-shadow: none;
      border-radius: none;
      background: rgba(0, 0, 0, 0);
    }
  }
}

@include mobile {
  .form {
    &__title {
      text-align: left;
    }
    label {
      padding-left: 15px;
      font-size: 20px;
      line-height: 24px;
    }
    input {
      font-size: 20px;
      line-height: 24px;
    }
  }
}
