.program {
  position: relative;
  padding-top: 185px;

  &-yellow {
    position: absolute;
    z-index: 0;
    width: 435px;
    height: 420px;

    background: var(--yellow);
    top: 15px;
    left: -283px;
    filter: blur(116px);
  }

  &-wrapper {
    margin-top: 50px;
    padding: 0 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &-item {
    position: relative;
    width: 450px;
    height: 400px;
    padding: 30px 25px;
    background: var(--background-white);
    box-shadow: 0px 4px 38px rgba(0, 0, 0, 0.15);
    border-radius: 50px;

    &-image {
      margin: 0 20px;
      height: 100px;
      width: 100px;
    }

    &-head {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-header {
      margin: 0;
      margin-bottom: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: var(--pink);
    }

    &-subheader {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      color: var(--black);
    }

    &-list {
      margin-top: 17px;
      padding-left: 20px;
      list-style-type: disc;
      li {
        margin: 0;
        @include mb(5px);
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;

        color: var(--black);
      }
    }

    &-additional {
      position: absolute;
      bottom: 30px;
      left: 25px;
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: var(--pink);
    }
  }
}

@media (max-width: 1240px) {
  .program {
    &-wrapper {
      padding: 0;
      flex-direction: column;
    }
    &-item {
      &:last-child {
        margin-top: 30px;
      }
    }
  }
}

@include tablet {
  .program {
    padding-top: 140px;

    &-yellow {
      display: none;
    }
  }
}

@include mobile {
  .program {
    &-title {
      text-align: left;
    }
    &-wrapper {
      margin-top: 30px;
    }
    &-item {
      width: 315px;
      height: 360px;
      padding: 30px 20px;

      &-image {
        margin: 0 10px;
        height: 80px;
        width: 80px;
      }

      &-header {
        margin-bottom: 15px;
        font-size: 16px;
        line-height: 20px;
      }

      &-subheader {
        font-size: 14px;
        line-height: 17px;
      }

      &-list {
        margin-top: 17px;
        padding-left: 20px;
        li {
          margin-bottom: 0;
          font-size: 16px;
          line-height: 20px;
        }
      }

      &-additional {
        bottom: 35px;
        font-size: 14px;
        line-height: 17px;
      }
    }
  }
}
