.success {
  position: relative;
  padding-top: 185px;

  &-purple {
    position: absolute;
    z-index: 0;
    width: 600px;
    height: 600px;
    background: var(--purple-lighter);
    filter: blur(173.5px);
  }

  &-grid {
    margin-top: 55px;
    display: grid;
    grid-template: 550px 200px / 1fr 1fr;
    gap: 50px 100px;
  }

  &-slick-image {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slick-track {
      display: flex;
    }

    .slick-list {
      overflow: hidden;
      pointer-events: none; // for mobile change this
    }

    .slick-slide {
      margin: 0;
      width: 480px !important;
      height: 545px !important;

      div {
        height: 100%;
        width: 100%;
        div {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  &-slick-slider {
    position: relative;
    height: 100%;
    grid-column: 1 / 3;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .slick-track {
      display: flex;
    }

    .slick-list {
      overflow: hidden;
    }

    .slick-slide {
      margin: 0;
      @include mr(20px);
      width: 200px !important;
      height: 200px !important;

      div {
        height: 100%;
        width: 100%;
        div {
          height: 100%;
          width: 100%;
        }
      }
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      z-index: 1;
      background: rgba(0, 0, 0, 0);
      border: none;
      outline: none;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      cursor: pointer;
    }
    .slick-prev {
      left: -65px;
    }
    .slick-next {
      right: -60px;
    }
  }

  &-information {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--black);
    span {
      display: block;
      font-weight: 700;
      font-size: 55px;
      line-height: 67px;
    }
  }
}
