.success-form-push,
.failure-form-push {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) !important;
  bottom: 250px;
  z-index: 10;

  width: 250px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid var(--white);
  border-radius: 30px;
  background: var(--gradient-pink);

  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);

  transition: opacity 300ms;
}
