<section class="about" id="about">
  <div class="about-yellow" data-aos="fade-up"></div>
  <div class="container about-container">
    <div class="about-grid" data-aos="fade-up">
      <div class="about-wrapper-image" data-aos="zoom-in" data-aos-delay="300"><img
          src="./img/about/about-dorinellla.png" alt="Dorinellla" class="about-image">
      </div>
      <div class="about-wrapper-info">
        <h2 class="title about-title">Про мене</h2>
        <p class="about-description"><span>Давай знайомитись! Я Даріна, сертифікований нутриціолог та організаторка
            курсу.</span><br><br>
          2 роки тому я подолала РПП та схудла на 20 кг. Але на цьому мій шлях тільки почався, бо я зіткнулась з низькою
          самооцінкою та відсутністю любові до себе(так так, навіть після схуднення)<br><br>
          Уже 2 роки я веду експертний блог на тему здорового життя та бодіпозитиву, ділюсь професійними знаннями та
          особистим досвідом.<br><br>
          Консультую та займаюсь особистим health-коучінгом: розглядаю нездорові стосунки з їжею, працюю над емоційним
          голодом та переїданнями, пропрацьовую тему самооцінки<br><br>
          Просуваю мистецтво "самокохання", бо важливою є не цифра на вагах, а гармонія зі своїм тілом.
        </p>
        <a href="#form"> <button class="button about-button">Купити курс</button></a>
      </div>
    </div>
  </div>
</section>
