<section class="aim" id="aim">
  <div class="container">
    <h2 class="title">На що ми збираємо кошти?</h2>
    <img src="./img/aim/line.png" alt="Line" class="aim-image-line">
    <div class="aim-list">
      <div class="aim-item">
        <div class="aim-pink"></div>
        <img src="./img/aim/backpack.png" alt="Backpack" class="aim-image">
        <p class="aim-description">Рюкзаки</p>
      </div>
      <div class="aim-item">
        <div class="aim-pink"></div>
        <img src="./img/aim/sleeping-bags.png" alt="Sleeping bags" class="aim-image">
        <p class="aim-description">Спальні мішки</p>
      </div>
      <div class="aim-item">
        <div class="aim-pink"></div>
        <img src="./img/aim/thermal-wash.png" alt="Thermal Wash" class="aim-image">
        <p class="aim-description">Термобілизна</p>
      </div>
      <div class="aim-item">
        <div class="aim-pink"></div>
        <img src="./img/aim/drone.png" alt="Drones" class="aim-image">
        <p class="aim-description">Дрони</p>
      </div>
      <div class="aim-item">
        <div class="aim-pink"></div>
        <img src="./img/aim/thermal-imager.png" alt="Thermal imager" class="aim-image">
        <p class="aim-description">Тепловізори</p>
      </div>
    </div>
  </div>
</section>
