<section class="charity" id="charity">
  <div class="charity-pink"></div>
  <div class="container">
    <h2 class="title">Благодійність</h2>
    <div class="charity-wrapper">
      <p class="charity-info">Доступ до курсу відкривається за мінімальний донат у розмірі <span>350 гривень</span>. Ти
        можеш надіслати і більше.<br><br>
        <span>100 % коштів</span> з продажів я перераховую на потреби українських захисників. Звітуюсь на акаунті
        @dorinellla.
      </p>
      <img src="./img/charity/monument.png" alt="Monument" class="charity-image">
    </div>
  </div>
</section>
