<section class="first-screen" id-="first-screen">
  <div class="first-screen-pink"></div>
  <div class="first-screen-purple"></div>
  <div class="container">
    <div class="first-screen-grid">
      <div class="first-screen-info">
        <h2 class="title first-screen-title">H<span>ealth</span>UP:</h2>
        <p class="first-screen-subtitle">Love Edition</p>
        <p class="first-screen-description"><span>Я навчу тебе любити та цінувати своє тіло вже зараз!</span><br><br>
          Поговоримо про шаблонне мислення, наш власний самонегатив та емоційну складову<br><br>
          Постійний доступ до записаного матеріaлу!</p>
        <div class="first-screen-buttons">
          <a href="#"><button class="button">Детальніше</button></a><a href="#"><button
              class="button first-screen-button">Купити <img src="./img/icons/arrow.svg" alt="Arrow"></button></a>
        </div>
      </div>
      <div class="first-screen-wrapper-from">
        <div class="first-screen-from">від @DORINELLLA</div>
      </div>
    </div>
  </div>
</section>
