<footer class="footer">
  <div class="container footer-container">
    <div class="footer-text">
      <h4 class="footer-title">DORINELLLA</h4>
      <div class="footer-navigation">
        <a href="#about" class="footer-link">Про мене</a>
        <a href="#unique" class="footer-link">Чому я?</a>
        <a href="#charity" class="footer-link">Благодійність</a>
        <a href="#reviews" class="footer-link">Відгуки</a>
      </div>
    </div>
    <div class="footer-icons">
      <a href="#" class="footer-icon"><img src="./img/icons/telegram.svg" alt="Telegram"></a>
      <a href="#" class="footer-icon"><img src="./img/icons/tiktok.svg" alt="Tiktok"></a>
      <a href="#" class="footer-icon"><img src="./img/icons/instagram.svg" alt="Instagram"></a>
    </div>
  </div>
</footer>
