<section class="form" id="form">
  <div class="form__purple" data-aos="fade-right"></div>
  <!-- <div class="form__yellow" data-aos="fade-left"></div> -->
  <div class="container" data-aos="fade-up">
    <h2 class="title form__title">Отримай доступ до лекцій
    </h2>
    <div class="form__wrapper">
      <form action="#">
        <label for="name" data-aos="fade-up" data-aos-delay="200">Твоє ім’я</label>
        <input type="text" name="name" required data-aos="fade-up" data-aos-delay="220">
        <label for="phone" data-aos="fade-up" data-aos-delay="240">Твій номер телефону</label>
        <input type="text" name="phone" required data-aos="fade-up" data-aos-delay="260">
        <label for="telegram" data-aos="fade-up" data-aos-delay="280">Твій нік в телеграмі</label>
        <input type="text" name="telegram" required data-aos="fade-up" data-aos-delay="280">

        <button class="button form__button" type="submit" data-aos="fade-up" data-aos-delay="320">Відправити</button>
      </form>
    </div>
  </div>
</section>
