<!-- <section class="form" id="form">
  <div class="container form__wrapper">
    <h2 class="form__title">Форма звʼязку</h2>
    <p class="form__subtitle">Після заповнення форми з вами звʼяжеться модератор курсу</p>
    <form class="form__fields" id="form" action="#">
      <div class="form__field">
        <label>
          <input class="form__input" minlength="5" name="name" id="input-name" type="text"
            placeholder="Імʼя та Прізвище" required />
        </label>
      </div>
      <div class="form__field">
        <label>
          <input class="form__input" name="phone" id="input-phone" type="tel" minlength="10" maxlength="13"
            placeholder="Номер телефону" required />
        </label>
      </div>
      <div class="form__field">
        <label>
          <input class="form__input" name="tg_name" id="input-tg-name" type="text" minlength="1"
            placeholder="Нік в телеграмі" required />
        </label>
      </div>
      <button class="form__submit-btn" type="submit">Надіслати!</button>
    </form>

    <div class="success">
      <svg fill="#ffffff" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="24px" height="24px">
        <path
          d="M32,6C17.641,6,6,17.641,6,32c0,14.359,11.641,26,26,26s26-11.641,26-26C58,17.641,46.359,6,32,6z M29.081,42.748	l-10.409-9.253l2.657-2.99l7.591,6.747L44,21l3.414,3.414L29.081,42.748z" />
      </svg>
      <div class="success-text">Заявка отправлена!</div>
    </div>
    <div class="failure">
      <svg width="29" height="30" viewBox="0 0 29 30" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M17.1568 14.5231L28.4489 3.23075C29.1837 2.49623 29.1837 1.30861 28.4489 0.574085C27.7144 -0.160437 26.5267 -0.160437 25.7922 0.574085L14.4998 11.8665L3.20781 0.574085C2.47295 -0.160437 1.28567 -0.160437 0.551149 0.574085C-0.183716 1.30861 -0.183716 2.49623 0.551149 3.23075L11.8432 14.5231L0.551149 25.8155C-0.183716 26.55 -0.183716 27.7376 0.551149 28.4721C0.917206 28.8385 1.39852 29.0226 1.87948 29.0226C2.36045 29.0226 2.84141 28.8385 3.20781 28.4721L14.4998 17.1798L25.7922 28.4721C26.1586 28.8385 26.6396 29.0226 27.1205 29.0226C27.6015 29.0226 28.0825 28.8385 28.4489 28.4721C29.1837 27.7376 29.1837 26.55 28.4489 25.8155L17.1568 14.5231Z"
          fill="white" />
      </svg>
      <div class="failure-text">Заявка не отправлена!</div>
    </div>
  </div>
</section> -->

<section class="form" id="form">
  <div class="form__purple"></div>
  <div class="form__yellow"></div>
  <div class="container">
    <h2 class="title form__title">Отримай доступ до лекцій
    </h2>
    <div class="form__wrapper">
      <form action="#">
        <label for="name">Твоє ім’я</label>
        <input type="text" name="name" required>
        <label for="phone">Твій номер телефону</label>
        <input type="text" name="phone" required>
        <label for="telegram">Твій нік в телеграмі</label>
        <input type="text" name="telegram" required>

        <button class="button form__button" type="submit">Відправити</button>
      </form>
    </div>
  </div>
</section>
