<section class="forwho" id="forwho">
  <div class="container">
    <h2 class="title forwho-title">Кому підійде наш продукт?</h2>
    <p class="forwho-subtitle">Тобі, якщо ти ...</p>
    <div class="forwho-grid">
      <ul class="list-reset">
        <li class="forwho-item">
          <p class="forwho-number">1</p>
          <p class="forwho-description">Не знаєш, як впоратися з негативним ставленням до себе</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">2</p>
          <p class="forwho-description">Схуднення або твої зміни не вплинули на самооцінку, досі низька</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">3</p>
          <p class="forwho-description">Не вмієш (або боїшся) відстоювати особисті кордони</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">4</p>
          <p class="forwho-description">Не віриш у компліменти(або навіть не сприймаєш їх)</p>
        </li>
      </ul>
      <ul class="list-reset">
        <li class="forwho-item">
          <p class="forwho-number">5</p>
          <p class="forwho-description">Хочеш більше поглибитися у сферу бодіпозитиву</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">6</p>
          <p class="forwho-description">Маєш відразу до жиру, складок, розтяжок</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">7</p>
          <p class="forwho-description">Боїшся зайвої ваги як вогню, впевнена, що життя дуже погіршиться</p>
        </li>
        <li class="forwho-item">
          <p class="forwho-number">8</p>
          <p class="forwho-description">Перестаєш бути впевненою в собі, як тільки бачиш фотки подруг/блогерів в інсті
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
