<section class="program" id="program">
  <div class="program-yellow"></div>
  <div class="container">
    <h2 class="title">Програма онлайн лекцій</h2>
    <div class="program-wrapper">
      <div class="program-item">
        <div class="program-item-head">
          <img src="./img/program/flower.png" alt="Flower" class="program-item-image">
          <div>
            <h5 class="program-item-header">Лекція №1</h5>
            <p class="program-item-subheader">Робота з шаблонним баченням фігури</p>
          </div>
        </div>
        <ul class="list-reset program-item-list">
          <li>як ми одержимі ідеальним тілом</li>
          <li>нав’язування стереотипної фігури</li>
          <li>новий ідеал-він який?</li>
          <li>любов до себе та легалізація власного тіла</li>
        </ul>
        <p class="program-item-additional">+ додаткові практики у вигляді гайду </p>
      </div>
      <div class="program-item">
        <div class="program-item-head">
          <img src="./img/program/broccoli.png" alt="Broccoli" class="program-item-image">
          <div>
            <h5 class="program-item-header">Лекція №2</h5>
            <p class="program-item-subheader">Як перестати бути постійним відвідувачем Дієтленду</p>
          </div>
        </div>
        <ul class="list-reset program-item-list">
          <li>які дієти ми обираємо і нащо</li>
          <li>культ схуднення(чаї, креми, пігулки, методики дієт)</li>
          <li>чи можна поєднувати бодіпозитив зі схудненням</li>
          <li>перші кроки у бодіпозитив</li>
        </ul>
        <p class="program-item-additional">+ додаткові завдання на самоопрацювання</p>
      </div>
    </div>
  </div>
</section>
