<section class="reviews" id="reviews" data-aos="fade-up">
  <div class="reviews-pink" data-aos="fade-left"></div>
  <h2 class="title">Відгуки</h2>
  <div class="reviews-slider" data-aos="fade-up" data-aos-delay="300">
    <div><img src="./img/reviews/review-1.png" alt="Review"></div>
    <div><img src="./img/reviews/review-2.png" alt="Review"></div>
    <div><img src="./img/reviews/review-3.png" alt="Review"></div>
    <div><img src="./img/reviews/review-4.png" alt="Review"></div>
    <div><img src="./img/reviews/review-5.png" alt="Review"></div>
    <div><img src="./img/reviews/review-6.png" alt="Review"></div>
    <div><img src="./img/reviews/review-7.png" alt="Review"></div>
    <div><img src="./img/reviews/review-8.png" alt="Review"></div>
    <div><img src="./img/reviews/review-9.png" alt="Review"></div>
    <div><img src="./img/reviews/review-10.png" alt="Review"></div>
    <div><img src="./img/reviews/review-11.png" alt="Review"></div>
  </div>
</section>
