<section class="reviews" id="reviews">
  <div class="container">
    <h2 class="title">Відгуки</h2>
    <div class="reviews-slider">
      <div><img src="./img/reviews/review-1.png" alt="Review"></div>
      <div><img src="./img/reviews/review-2.png" alt="Review"></div>
      <div><img src="./img/reviews/review-3.png" alt="Review"></div>
      <div><img src="./img/reviews/review-4.png" alt="Review"></div>
      <div><img src="./img/reviews/review-5.png" alt="Review"></div>
      <div><img src="./img/reviews/review-6.png" alt="Review"></div>
      <div><img src="./img/reviews/review-7.png" alt="Review"></div>
      <div><img src="./img/reviews/review-8.png" alt="Review"></div>
      <div><img src="./img/reviews/review-9.png" alt="Review"></div>
      <div><img src="./img/reviews/review-10.png" alt="Review"></div>
      <div><img src="./img/reviews/review-11.png" alt="Review"></div>
    </div>
  </div>
</section>
