<section class="success" id="success">
  <div class="success-purple"></div>
  <div class="container">
    <h2 class="title success-title">Успіхи першого досвіду</h2>
    <div class="success-grid">
      <div class="success-slick-image">
        <div><img src="./img/success/photo-1.jpg" alt="Army"></div>
        <div><img src="./img/success/photo-2.jpg" alt="Army"></div>
        <div><img src="./img/success/photo-3.jpg" alt="MicroSD"></div>
        <div><img src="./img/success/receipt-1.jpg" alt="Receipt"></div>
        <div><img src="./img/success/receipt-2.jpg" alt="Receipt"></div>
        <div><img src="./img/success/receipt-3.jpg" alt="Receipt"></div>
        <div><img src="./img/success/receipt-4.jpg" alt="Receipt"></div>
        <div><img src="./img/success/receipt-1.jpg" alt="Receipt"></div>
      </div>

      <p class="success-information">
        <span>300</span>
        людей взяли участь у проєкті<br><br>

        <span>60 000 грн</span>
        було зібрано на потреби армії<br><br>

        <span>4 батальйони</span>
        отримали нові речі<br><br>
      </p>
      <div class="success-slick-slider">
        <div class="success-image-slider"><img src="./img/success/photo-1.jpg" alt="Army"></div>
        <div class="success-image-slider"><img src="./img/success/photo-2.jpg" alt="Army"></div>
        <div class="success-image-slider"><img src="./img/success/photo-3.jpg" alt="MicroSD"></div>
        <div class="success-image-slider"><img src="./img/success/receipt-1.jpg" alt="Receipt"></div>
        <div class="success-image-slider"><img src="./img/success/receipt-2.jpg" alt="Receipt"></div>
        <div class="success-image-slider"><img src="./img/success/receipt-3.jpg" alt="Receipt"></div>
        <div class="success-image-slider"><img src="./img/success/receipt-4.jpg" alt="Receipt"></div>
        <div class="success-image-slider"><img src="./img/success/receipt-1.jpg" alt="Receipt"></div>
      </div>
    </div>
  </div>
</section>
