<section class="unique" id="unique">
  <div class="unique-yellow"></div>
  <div class="unique-purple"></div>
  <div class="unique-pink"></div>
  <div class="container">
    <div class="title">У чому унікальність?</div>
    <div class="unique-grid">
      <div class="unique-item">
        <img src="./img/unique/avocado.png" alt="Avocado" class="unique-image">
        <div class="unique-info">
          <h4 class="unique-info-header">Практичний підхід</h4>
          <p class="unique-info-description">Курс охоплює величезну сферу самокохання, яка потребує не тільки теорії, а
            й практики. Учасникам будуть надані гайди для домашнього завдання, які допоможуть навчитися використовувати
            знання в житті</p>
        </div>
      </div>
      <div class="unique-item">
        <img src="./img/unique/clever.png" alt="Clever" class="unique-image">
        <div class="unique-info">
          <h4 class="unique-info-header">Єдині на ринку</h4>
          <p class="unique-info-description">Перший курс, який пропагандує вам не стереотипний ідеал жінки, а можливість
            побачити цей ідеал в собі</p>
        </div>
      </div>
      <div class="unique-item">
        <img src="./img/unique/butterfly.png" alt="Butterfly" class="unique-image">
        <div class="unique-info">
          <h4 class="unique-info-header">Актуальність</h4>
          <p class="unique-info-description">На курсі я ділюся знаннями, які будуть актуальні все життя. Проблема 90%
            дівчат, що вони впевнені в “схуднення=любов до себе”. Це брехня, і я допоможу в цьому розібратись</p>
        </div>
      </div>
      <div class="unique-item">
        <img src="./img/unique/ukraine-flag.png" alt="Ukraine" class="unique-image">
        <div class="unique-info">
          <h4 class="unique-info-header">Вклад у перемогу</h4>
          <p class="unique-info-description">Всі кошти з продажів йдуть на потреби українських захисників.</p>
        </div>
      </div>
    </div>
  </div>
</section>
