.button {
  width: 200px;
  height: 60px;
  border: none;
  border-radius: 30px;
  background: var(--gradient-pink);

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--white);
  cursor: pointer;
}
