.title {
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  color: var(--black);
}

@include tablet {
  .title {
    font-size: 45px;
  }
}

@include mobile {
  .title {
    font-size: 37px;
    line-height: 49px;
  }
}
