.title {
  margin: 0;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  // text-transform: uppercase;
  color: var(--black);
}

.title--divider span {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100vw;
    height: 2px;
    background-color: #000;
  }
}

.title--divider-right span::after {
  left: 0;
}

.title--divider-left span::after {
  right: 0;
}

@include tablet {
  .title {
    font-size: 28px;
    line-height: 24px;
  }
}

@include mobile {
  .title {
    font-size: 20px;
  }
}
